table {
    border-collapse: collapse;
    width: 100%;
  }

table th , table td{
  text-align: center;
}

.imag{
  width: 128px;
  height: 128px;
  border: 1px solid black;
  background-position: center;
  background-size: 100% 100%;
}

.imag img {
    width: 100%;
 }
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
tr:hover {
    background-color: #D6EEEE;
}

/* .invisibleCol {
    visibility:collapse;
} */