<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>detail</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
      </head>
    <body>
        <div  class="container">
            <div id="display-image" class="imag"></div>
            <div id="receive-image" class="imag" ></div> 
            <a href="" id="a"><button id="saveImage">Save image</button></a>
        </div>
        <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
    </body> 
</html>