<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Info</title>
        <script type="module" src="{{ url_for('static', filename='js/auth_module.js') }}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>
    <body style="background-color:#2B2B2B;">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light shadow-lg">
              <div class="container-fluid">
                <!--<a class="navbar-brand" href="/" style="color: white;">Sketch2Face</a>-->
                <img src="https://i.imgur.com/bp1wcmv.png">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-left: 2rem">
                  <div class="navbar-nav">
                    <a class="nav-link" href="/" style="color: white;">Generate</a>
                    <a class="nav-link" href="/database" style="color: white;">Database</a>
                  </div>
                  <div class="navbar-nav ms-auto">
                    <a class="nav-link active" href="/info" aria-current="page" style="color: #5370F4;">Info</a>
                    <a class="nav-link" role="button" id="logOut" style="color: white;">Signout</a>
                  </div>		  
                </div>
              </div>
            </nav>
          </header>
          <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
            <div style="border: 5px solid #5370F4; width: 80%; margin: 0 auto; padding: 20px; text-align: center; background-color: white;">
              <h2 style="color: black;">ข้อตกลงในการใช้ซอฟต์แวร์</h2>
              <p style="text-indent: 2.5em; color: black; text-align: justify">ซอฟต์แวร์นี้เป็นผลงานที่พัฒนาขึ้นโดย นายพชร ศรีสมบูรณ์โชติ และ นายวงศกร ปิ่นวาสี จาก มหาวิทยาลัยเกษตรศาสตร์ 
                      ภายใต้การดูแลของ ผศ.ดร.อรวรรณ อิ่มสมบัติ ภายใต้โครงการ ระบบสังเคราะห์รูปใบหน้าจากภาพร่างใบหน้าด้วยเทคนิคการเรียนรู้เชิงลึก
                      ซึ่งสนับสนุนโดย สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ
                      โดยมีวัตถุประสงค์เพื่อส่งเสริมให้นักเรียนและนักศึกษาได้เรียนรู้และฝึกทักษะในการ
                      พัฒนาซอฟต์แวร์ ลิขสิทธิ์ของซอฟต์แวร์นี้จึงเป็นของผู้พัฒนา ซึ่งผู้พัฒนาได้
                      อนุญาตให้สำนักงานพัฒนาวิทยาศาสตร์และเทคโนโลยีแห่งชาติ เผยแพร่ซอฟต์แวร์
                      นี้ตาม “ต้นฉบับ” โดยไม่มีการแก้ไขดัดแปลงใด ๆ ทั้งสิ้น ให้แก่บุคคลทั่วไปได้ใช้เพื่อ
                      ประโยชน์ส่วนบุคคลหรือประโยชน์ทางการศึกษาที่ไม่มีวัตถุประสงค์ในเชิงพาณิชย์
                      โดยไม่คิดค่าตอบแทนการใช้ซอฟต์แวร์ ดังนั้น สำนักงานพัฒนาวิทยาศาสตร์และ
                      เทคโนโลยีแห่งชาติ จึงไม่มีหน้าที่ในการดูแล บำรุงรักษา จัดการอบรมการใช้งาน
                      หรือพัฒนาประสิทธิภาพซอฟต์แวร์ รวมทั้งไม่รับรองความถูกต้องหรือประสิทธิภาพ
                      การทำงานของซอฟต์แวร์ ตลอดจนไม่รับประกันความเสียหายต่าง ๆ อันเกิดจาก
                      การใช้ซอฟต์แวร์นี้ทั้งสิ้น</p>
              <h2 style="color: black;">License Agreement</h2>
              <p style="text-indent: 2.5em; color: black; text-align: justify">This software is a work developed by Pachara Srisomboonchote and Wongsakorn Pinvasee
                      from Kasetsart University under the provision of Asst. Prof. Aurawan Imsombut
                      under Facial Image Synthesis from Sketches based on Deep Learning Techniques
                      , which has been supported by the National
                      Science and Technology Development Agency (NSTDA), in order to
                      encourage pupils and students to learn and practice their skills in
                      developing software. Therefore, the intellectual property of this
                      software shall belong to the developer and the developer gives NSTDA
                      a permission to distribute this software as an “as is” and nonmodified software for a temporary and non-exclusive use without
                      remuneration to anyone for his or her own purpose or academic
                      purpose, which are not commercial purposes. In this connection,
                      NSTDA shall not be respons ible to the user for taking care,
                      maintaining, training or developing the efficiency of this software.
                      Moreover, NSTDA shall not be liable for any error, software efficiency
                      and damages in connection with or arising out of the use of the
                      software.”</p>
            </div>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>