<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>web</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
  <script type="module" src="{{ url_for('static', filename='js/auth_module.js') }}"></script>
</head>
<body>
    <div  class="container">
        <form id="formElem" >
          <input type="file" id="image-input" accept="image/*" name="image" required>
            <div id="display-image" class="imag"></div>
          <input type="submit">
        </form>
          <div id="receive-image" class="imag" ></div> 
          <a href="" id="a"><button id="saveImage">Save image</button></a>
          <button onclick="saveDB()" id="saveDB">saveDB</button>
    </div>
    <button id="logOut">SignOUT</button>
    <button onclick="goToRecords()" id="recordsPage">Records</button>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body> 
</html>

